{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>О нас</h1>

        <p>Добро пожаловать на pcNews – ваш источник самых свежих новостей и статей из мира компьютерных технологий! Мы страстно следим за всеми событиями в индустрии и стремимся предоставить вам актуальную и интересную информацию.</p>

        <p>Наша команда состоит из опытных журналистов, разработчиков, инженеров и технологических энтузиастов, которые любят и ценят мир высоких технологий. Мы стремимся делиться своими знаниями, предоставлять обзоры, аналитику и глубокие статьи для того, чтобы вы могли быть в курсе всех событий и быть вдохновленными новыми идеями.</p>


    </div>
{% endblock %}