{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Контакты</h1>
        <p>Мы ценим обратную связь и готовы помочь вам в любых вопросах. Свяжитесь с нами для получения дополнительной информации или просто, чтобы поделиться своим мнением.</p>

        <ul>
            <li>📧 Электронная почта: info@pcnews.com</li>
            <li>📞 Телефон: +1 (555) 123-4567</li>
            <li>📍 Адрес офиса: ул. Технологическая, 123, Город</li>
        </ul>

        <p>Мы также присутствуем в социальных сетях:</p>

        <ul>
            <li>📷 Instagram: <a href="https://www.instagram.com/pcnews" target="_blank">@pcnews</a></li>
            <li>🐦 Twitter: <a href="https://www.twitter.com/pcnews" target="_blank">@pcnews</a></li>
            <li>📘 Facebook: <a href="https://www.facebook.com/pcnews" target="_blank">pcNews</a></li>
        </ul>

    </div>
{% endblock %}