{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="features">
        <section>
        <h1>Главное об IT на pcNews</h1>
        <ul>
            <li>
                <p>🚀 Горячие новости - Следите за событиями в индустрии: от релизов продуктов до инноваций в программном обеспечении.</p>
            </li>
            <li>
                <p>🔍 Технологические тенденции - Аналитика и прогнозы развития технологий, определяющие будущее компьютерной индустрии.</p>
            </li>
            <li>
                <p>💻 Рекомендации по оборудованию - Обзоры новых процессоров, видеокарт и ноутбуков. Экспертные советы для правильного выбора.</p>
            </li>
            <li>
                <p>💡 Программирование и разработка - Материалы о новых языках программирования, фреймворках и успешных проектах.</p>
            </li>
        </ul>
    </section>
    </div>
{% endblock %}